Categories: about
Template: home
Summary: Wallet Mgmt

.container
  .row
    .col-md-6
      %h1
        = I18n.translate('wallets.title')
      %br
      %h2 Estorm Lotto Gem
      = haml :horiz_buttons, :layout => false
      %br
      %h2
        = I18n.translate('wallets.transfer')
      %form{ :action => "/wbtransfer", :method => "post"}
        .field
          %label pin
          %input(name="pin"   type="password" )
        .field
          %label amout
          %input(name="amount" value="0.00")
        .field
          %label destination
          %input(name="destination" value="transfer_destination")
        %br
        %button(class="btn btn-primary" type='submit')
          = I18n.translate('wallets.transfer')
      %br
      %h2
        = I18n.translate('wallets.pin')
      %form{ :action => "/changepin", :method => "post"}
        .field
          %label pin
          %input(name="pin" value="old-pin"  type="password")
        .field
          %label newpin
          %input(name="newpin" value="new-pin"  type="password")
        .field
          %label newpin2
          %input(name="newpin2" value="confirm-new-pin"  type="password")
        %br
        %button(class="btn btn-primary" type='submit')
          = I18n.translate('wallets.pin')
      %h2
        = I18n.translate('wallets.cash')
      %form{ :action => "/wbrelease_cash", :method => "post"}
        .field
          %label my pin
          %input(name="pin" value="enter-pin" type="password" )
        .field
          %label amout
          %input(name="amount" value="0.00")
        .field
          %label from pin
          %input(name="from_pin" value="sourcepin"  type="password")
        .field
          %label from account
          %input(name="from_account" value="source_destination")
        %select{ :name => "type", :value => "random"}
          %option(selected='1' value="return_cash")
            return_cash
          - list=['pay_transfer']
          - list.each do |i|
            %option(value="#{i}")
              = i
        %br
        %button(class="btn btn-primary" type='submit')
          = I18n.translate('wallets.cash') 
      %form{ :action => "/test", :method => "post"}
        .field
          %label pin
          %input(name="pin" value="old-pin"  type="password")
        %button(class="btn btn-primary" type='submit')
          Test
